@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin: 0;
    background-color: #F2F2F2;
    height: 100%;
}

.page-container {
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex-grow: 1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Стилизация шапки */
.main-header {
    color: #000000;
    padding: 0 70px;
}

.navigation {
    display: flex;
}

.navigation-list {
    list-style: none;
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 32px;
    margin-right: auto;
}

.navigation-user-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.logo {
    margin-right: 28px;
    display: block;
    margin-bottom: -6px;
    position: relative;
}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: #000000;
}

.navigation-link:hover,
.navigation-link:focus {
    color: #756157;
}

.navigation-link:active {
    color: rgba(117, 97, 87, 0.30);
}


.navigation-user-link {
    display: block;
    width: 44px;
    height: 64px;
    padding: 22px 12px;
    position: relative;
}

.navigation-user-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #000000;
}

.favorites-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #7DB54F;
    color: #FFFFFF;
    position: absolute;
    top: 11px;
    right: 4px;
    text-align: center;
    font-size: 10px;
    line-height: 10px
}

.navigation-user-link:hover .navigation-user-icon {
    fill: #756157;
}

.navigation-user-link:focus .navigation-user-icon {
    fill: #756157;
}

.navigation-user-link:active .navigation-user-icon {
    fill: rgba(117, 97, 87, 0.30);
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #756157;
    color: #FFFFFF;
    display: inline-block;
    min-width: 160px;
    height: 36px;
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
    cursor: pointer;
}

.button-want-here {
    margin: auto 0;
}

.button-dark:hover,
.button-dark:focus {
    background-color: #615048;
}

.button-dark:active {
    color: rgba(255, 255, 255, 0.30);
    background-color: #756157;
}

.button-dark:disabled {
    color: #FFF;
    background-color: #E5E5E5;
}

/* Стилизация главного изображения */
.hero {
    background-image: url("../images/index-background.jpg");
    background-color: #DBE9F2;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 485px;
    margin-bottom: 69px;
    display: flex;
}

.welcome-image {
    margin: 51px auto 82px;
}

/* Секция преимущества */
.advantages {
    text-align: center;
    margin-bottom: 64px;
}

.section-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
}

.section-subtitle {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
}

.advantages .section-title {
    margin-bottom: 25px;
    padding: 0 270px;
}

.advantages .section-subtitle {
    margin-bottom: 90px;
}

.advantages-list {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    list-style: none;
    padding: 0;
    margin: 0;
}

.advantages-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-bottom: 62px;
    position: relative;
}

.advantages-item-title::before {
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.30);
    position: absolute;
    bottom: -30px;
    left: 50%;
    content: "";
    transform: translateX(-30px);
}

.advantages-item-extended .advantages-item-title::before {
    background-color: rgba(255, 255, 255, 0.30);
    ;
}

.advantages-item-container p {
    margin: 0;
}

.advantages-item-container {
    width: 400px;
    min-height: 385px;
    padding: 50px 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item img {
    width: 800px;
    height: auto;
    object-fit: cover;
}

.advantages-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.advantages-item-extended {
    display: flex;
    background-color: #82B3D3;
    color: #FFFFFF;
    grid-column: 1 / -1;
}

.advantages-item-extended .advantages-item-title {
    color: #FFFFFF;
}

.advantages-item-extended-reverse {
    flex-direction: row-reverse;
}

/* Секция услуги */
.services {
    text-align: center;
}

.services .section-subtitle {
    margin-bottom: 64px;
}

.services-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.services-item {
    width: 400px;
    min-height: 385px;
    padding: 183px 85px 50px;
}

.services-item h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 30px;
}

.services-item p {
    margin: 0;
}

.services-item:nth-of-type(odd) {
    background-color: rgba(131, 179, 211, 0.12);
    ;
}

.services-item-home {
    background-image: url(../images/icon-home.svg);
    background-repeat: no-repeat;
    background-position: right 50% top 81px;
}

.services-item-food {
    background-image: url(../images/icon-food.svg);
    background-repeat: no-repeat;
    background-position: right 50% top 81px;
}

.services-item-souvenir {
    background-image: url(../images/icon-souvenir.svg);
    background-repeat: no-repeat;
    background-position: right 50% top 81px;
}

/* Поисковая форма */
.search-form {
    text-align: center;
    padding: 96px 304px;
}

.search-form .section-subtitle {
    margin-bottom: 54px;
}

.button-search-hotel {
    font-size: 20px;
    line-height: 36px;
    min-width: 376px;
    height: 52px;
}

/* Форма подписки */
.subscription {
    text-align: center;
    min-height: 415px;
    padding-top: 96px;
}

.index-subscription {
    background-image: url(../images/background-subscription.png);
    background-size: cover;
    background-color: #90ACBA;
    background-repeat: no-repeat;
}

.section-title-light,
.section-subtitle-light {
    color: #FFFFFF;
}

.subscription .section-subtitle {
    margin-bottom: 54px;
}

.button-subscription {
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    background-color: #82B3D3;
    min-width: 232px;
    height: 52px;
    color: #FFFFFF;
    border: none;
    display: inline-block;
    border-radius: 0px 4px 4px 0px;
    padding: 8px 10px;
    cursor: pointer;
}

.button-subscription:hover,
.button-subscription:focus {
    background-color: #68A2CA;
}

.button-subscription:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #82B3D3;
}

.button-subscription:disabled {
    color: #FFF;
    background-color: #E5E5E5;
}

.subscription-mail {
    min-width: 452px;
    height: 52px;
    border: none;
    padding: 14px 20px;
    border-radius: 4px 0px 0px 4px;
}

.catalog-subscription .subscription-mail {
    background-color: #F2F2F2;
}

.subscription-form {
    display: flex;
    justify-content: center;
}

/* Подвал страницы */
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 70px 30px;
}

.social-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-phone {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.footer-phone:hover,
.footer-phone:focus {
    color: #756157;
}

.footer-phone:active {
    color: rgba(117, 97, 87, 0.3);
}

.social-link {
    display: block;
    width: 47px;
    height: 40px;
    position: relative;
}

.social-icon {
    fill: #83B3D3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    fill: #68A2CA;
}

.social-link:active .social-icon {
    fill: rgba(104, 162, 202, 0.3);
}

.footer-logo-academy-icon {
    fill: #000000;
}

.footer-logo-academy:hover .footer-logo-academy-icon,
.footer-logo-academy:focus .footer-logo-academy-icon {
    fill: #756157;
}

.footer-logo-academy:active .footer-logo-academy-icon {
    fill: rgba(117, 97, 87, 0.3);
}

/* Главные параметры каталога */
.filter-catalog {
    background-image: url("../images/background-filter.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #7E9CC0;
    min-height: 412px;
    padding: 35px 70px 70px;
}

.filter-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 8px;
}

.breadcrumbs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.breadcrumbs-link-main {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("../images/icon-mainpage.svg");
    background-repeat: no-repeat;
    margin-right: 28px;
}

.search-options {
    display: flex;
    align-items: flex-end;
}

.checkbox-radio-wrapper {
    display: flex;
    gap: 70px;
    margin-right: auto;
}

.seearch-button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.search-filter-group {
    border: none;
    margin: 0;
    padding: 0;
}

.search-filter-group-price {
    margin-right: 70px;
}

.search-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 32px;
}

.search-filter-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-filter-item {
    margin-bottom: 16px;
}

.search-filter-item:last-child {
    margin-bottom: 0;
}

.button-search-filter {
    background-color: #82B3D3;
}

.button-reset {
    background-color: transparent;
}

/* Секция карточек */

.hotel-cards {
    padding: 50px 70px 60px;
}

.sorting-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.sorting-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}

.sorting-select {
    width: 292px;
    padding: 14px 20px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.sorting-display-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 8px;
}

.sorting-display-link {
    display: block;
    width: 48px;
    height: 48px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.sorting-display-link-current {
    border: 2px solid #000;
}

.sorting-display-link-cards {
    background-image: url("../images/icon-cards.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.sorting-display-link-slider {
    background-image: url("../images/icon-slider.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.sorting-display-link-list {
    background-image: url("../images/icon-list.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.sorting-select {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hotel-cards-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
    position: relative;
}

.hotel-cards-list::before {
    position: absolute;
    width: 1060px;
    height: 1px;
    background-color: #E6E6E6;
    bottom: -40px;
    content: "";
}

.hotel-card {
    width: 340px;
    min-height: 438px;
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}

.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
}

.hotel-card-info {
    width: 300px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.hotel-card-link {
    text-decoration: none;
}

.button-card-dark {
    min-width: 140px;
    margin-right: auto;
}

.button-card-accent {
    background-color: #82B3D3;
    min-width: 140px;
}

.button-card-favorite {
    background-color: #7DB54F;
    min-width: 140px;
}

.rating-stars span {
    display: block;
    width: 19px;
    height: 18px;
    background-image: url("../images/star.svg");
    background-repeat: no-repeat;
}

.rating-stars {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-right: auto;
}

.rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background: #F2F2F2;
    width: 140px;
    height: 37px;
    padding: 9px 22px 8px 23px;
    margin: 0;
    border-radius: 4px;
}

.pagination {
    display: flex;
    align-items: center;
}

.pagination-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 8px;
}

.pagination-link {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #82B3D3;
    text-decoration: none;
    min-width: 60px;
    height: 60px;
    border-radius: 4px;
    text-align: center;
    padding: 12px 18px;
}

.pagination-separator {
    margin: 0;
    padding: 17px 29px;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}
