@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}
body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin: 0;
    background-color: #F2F2F2;
    height: 100%;
}
.page-container {
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main {
flex-grow: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  } */

/* Стилизация шапки */
.main-header {
    color: #000000;
}

.navigation {
    display: flex;
}

.navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 339px;
}
.navigation-user-list {
    display: flex;
    list-style: none;
}

.logo {
    margin-left: 70px;
    margin-right: 28px;
    display: block;
}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: #000000;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #756157;
    ;
    color: #FFFFFF;
    display: inline-block;
    width: 160px;
    height: 36px;
    border: none;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Стилизация главного изображения */
.hero {
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 485px;
}

.welcome-image {
    display: block;
    margin: 0 auto;
}

/* Секция преимущества */
.advantages {
    text-align: center;
}

.section-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.section-subtitle {
    font-size: 22px;
    line-height: 26px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
}

.advantages-item {
    background-color: rgba(131, 179, 211, 0.12);
    min-height: 385px;
}
.advantages-item-container {
    width: 400px;
    padding: 112px 85px 50px;
}
.advantages-item-extended .advantages-item-container {
    padding-top: 102px;
}

.advantages-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.advantages-item-extended {
    display: flex;
    background-color: #82B3D3;
    color: #FFFFFF;
}
.advantages-item-extended .list-title {
    color: #FFFFFF;
}

/* Секция услуги */
.services {
    text-align: center;
}

.services-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.services-item {
    width: 400px;
    min-height: 385px;
}
.services-item:nth-of-type(odd) {
    background-color: rgba(131, 179, 211, 0.12);;
}

.services-item-home {
    background-image: url(../images/icon-home.svg);
    background-repeat: no-repeat;
}

.services-item-food {
    background-image: url(../images/icon-food.svg);
    background-repeat: no-repeat;
}

.services-item-souvenir {
    background-image: url(../images/icon-souvenir.svg);
    background-repeat: no-repeat;
}

/* Поисковая форма */
.search-form {
    text-align: center;
    min-height: 406px;
}

.button-search-hotel {
    font-size: 20px;
    line-height: 36px;
    width: 376px;
    height: 52px;

}

/* Форма подписки */
.subscription {
    text-align: center;
    min-height: 415px;
}

.index-subscription {
    background-image: url(../images/background-subscription.png);
    background-size: cover;
    background-color: rgb(23, 23, 170);
    background-repeat: no-repeat;
}

.section-title-light,
.section-subtitle-light {
    color: #FFFFFF;
}

.button-subscription {
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    width: 232px;
    height: 52px;
    background: #82B3D3;
    color: #FFFFFF;
    border: none;
    display: inline-block;
    border-radius: 0px 4px 4px 0px;
}

/* Подвал страницы */
.main-footer {
    display: flex;
}

.social-list {
    display: flex;
    list-style: none;
}
.footer-phone {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

/* Главные параметры каталога */
.filter-catalog {
    background-image: url("../images/background-filter.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(4, 59, 79);
    min-height: 412px;
}

.filter-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}
.breadcrumbs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}
.search-options {
    display: flex;
}
.search-filter-group {
    border: none;
}

.search-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.search-filter-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    list-style: none;
}

.button-search-filter {
    background-color: #82B3D3;
}

.sorting-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sorting-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.sorting-select {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hotel-cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.hotel-card {
    width: 340px;
    height: 438px;
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}

.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.hotel-card-link {
    text-decoration: none;
}

.button-card-accent {
    background-color: #82B3D3;
}

.button-card-favorite {
    background-color: #7DB54F;
}

.rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background: #F2F2F2;
    width: 140px;
    height: 37px;
    padding: 9px 22px 8px 23px;
}

.pagination{
    display: flex;
    align-items: center;
}

.pagination-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 8px;
}

.pagination-link {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #82B3D3;
    text-decoration: none;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    text-align: center;
    padding: 12px 18px;
}

.pagination-separator {
    margin: 0;
    padding: 17px 29px;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}
